<form [formGroup]="form" (ngSubmit)="submit()" class="form-container">
  <h2>{{ title }}</h2>
  <div class="form-field-container">
    <mat-form-field appearance="fill">
      <mat-label>Change</mat-label>
      <mat-select [formControl]="selectedUserCredential"
                  (focus)="retryInput()"
                  (selectionChange)="onSelectedUserCredentialChange($event)"
                  required>
        <mat-option *ngFor="let credential of userCredentials" [value]="credential">
          {{ credential }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-field-container">
    <mat-form-field appearance="fill">
      <mat-label>{{ selectedUserCredential.value }}</mat-label>
      <input matInput
             [formControl]="userCredential"
             (focus)="retryInput()"
             required>
      <mat-error *ngIf="userCredential.invalid">{{ userCredentialErrorMessage }}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-error class="bottom-mat-error-text" *ngIf="!success">{{ errorMessage }}</mat-error>
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <button mat-raised-button color="primary" type="submit">Change</button>
</form>
