.profile-page-container {
  background-color: #FAFAFA;
  margin-right: 0;
  margin-left: 0;
  padding: 20px;
}

.profile-search-container {
  margin-top: 10px;
}

.search-field {
  width: 300px;
  height: fit-content;
}

.profiles-container {
  margin-right: 0;
  margin-left: 0;
}
