p {
  white-space: pre-wrap;
}

.premium-page-container {
  background-color: #FAFAFA;
  margin-right: 0;
  margin-left: 0;
  padding: 20px;
}

.premium-closed-text {
  margin-top: 50px;
  text-align: center;
}

.premium-cards-container {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.premium-card {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 500px;
  min-width: 300px;
}
