.main-search-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
}

.search-field {
  max-width: 100%;
  height: fit-content;
}

.checkbox-container {
  display: flex;
  max-height: 52px;
  flex-direction: row;
  align-items: center;
  vertical-align: center;
}

.simple-checkbox {
  margin-left: 15px;
}

.paginator {
  vertical-align: center;
  background-color: #FAFAFA;
}
