<mat-toolbar color="primary" class="toolbar-container">
  <div class="nav-flex-container">
    <div class="nav-inner-container">
      <img src="../../../../assets/image/java-code-set-logo.png"
           alt="JavaCodeSet"
           class="logo"
           (click)="redirectToMainPage()"/>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item
              [ngStyle]="{'text-decoration': isMainPageCurrent() ? 'underline' : 'none'}"
              (click)="redirectToMainPage()">
        Main
      </button>
      <button mat-menu-item
              [ngStyle]="{'text-decoration': isPremiumPageCurrent() ? 'underline' : 'none'}"
              (click)="redirectToPremiumPage()"
              *ngIf="authenticationContextService.isAuthorized$ | async">
        Premium
      </button>
      <button mat-menu-item
              (click)="modalService.showAuthenticationForm()"
              *ngIf="!(authenticationContextService.isAuthorized$ | async)">
        Sign in
      </button>
      <button mat-menu-item
              (click)="modalService.showRegistrationForm()"
              *ngIf="!(authenticationContextService.isAuthorized$ | async)">
        Sign up
      </button>
      <button mat-menu-item
              [ngStyle]="{'text-decoration': isProfilePageCurrent() ? 'underline' : 'none'}"
              (click)="redirectToProfilePage()"
              *ngIf="authenticationContextService.isAuthorized$ | async">
        Profile
      </button>
      <button mat-menu-item
              (click)="authenticationContextService.logout()"
              *ngIf="authenticationContextService.isAuthorized$ | async">
        Sign out
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
