.form-container {
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.mat-form-field {
  width: 100%;
}

.bottom-mat-error-text {
  text-align: center;
  white-space: pre-wrap;
}

.form-field-container {
  margin-top: 5px;
  width: 100%;
}

button {
  margin-top: 5px;
  width: 100%;
}

h2 {
  text-align: center;
  white-space: pre-wrap;
}
